doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/home_page.css')
		link(rel='stylesheet', href='/stylesheets/left_cont.css')
		link(rel='stylesheet', href='/stylesheets/side_bar.css')
		link(rel='stylesheet', href='/stylesheets/calendar.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
	body
		.page-window
			.main-container
				.content-container
					.home-header-border
						.home-header
							a(href="/")
								img(src="../images/logo.png")
					a.add-post(href='/admin/merch/new', title='Create a post')
						i(class="fa fa-plus-circle fa-3x")
					.item-list
						include post_list
				include side_bar

	script(src='/javascripts/page.js')
